SPb NRU ITMO tourist;Korotkevich
SPb SU 4;Egorov;Kunyavskiy;Suvorov
Moscow SU Trinity;Akhmedov;Gorbunov;Shlyunkin
Petr Team;Mitrichev
Saratov SU Old School;Bondarenko;Matov
Moscow SU Tapirs;Evstropov;Omelyanenko;Pyaderkin
Zhukov Team;Gimadeev;Verkhoglyadov;Zhukov
Unpretired;Popelyshev;Kornakov;Dlougach
Nizhny Novgorod SU;Epifanov
Kyiv NU BZFlags;Iedemskyi;Maksai;Tverdokhlib
Moscow SU SG;Sadkov;Dubinin;Mokin
Saratov SU 1;Agapov;Fefer;Kudasov
SPb NRU ITMO 1;Bardashevich;Vasiliev;Minaev
Kyiv NU Unicon;Nagin;Vasyliv;Bevza
SPb SU Trawa;Andreev;Pyshkin
Moscow IPT The Sun;Chebanov;Mashrabov;Rukhovich
International IT U 1;Bolshakov;Kutybaev;Chzhen
Moscow IPT Zzyzx;Ivaschenko;Smirnov;Tikhomirov
XZ Team;Fetisov;Isenbaev;Barykin
Saratov SU 2;Kudryashov;Gusarov
Kyiv NU MIF;Mostovyj;Ignatenko;Furko
Belarussian SUIR;Ropan;Myts
Novosibirsk SU 1;Beloshapko;Stenenko;Zaytcev
NRU HSE Viral Team;Alipov;Kolupaev;Kouprin
japan01;Nikado;Mikami;Shiroshita
Kyiv NU Frogs;Zdomsky;Zinchenko;Shevchuk
Yandex.Belarus Team;Pisarchik;Tolstikov;Udovichenko
Lviv NU Penguins;Bilyj;Herasymiv;Makar
MAI #1;Safronov;Yushchenko
Izhevsk STU CynepMyTaHTbl;Burlakov;Smirnov;Sutygin
Kant FU #1 Oh, my Code;Platto;Kharybin;Suvorov
Moscow IPT Lemmings;Pershakov;Turbin;Zhuk
Sevastopol br of MSU 1;Chistyakova;Shishov
Sofia U LSBG;Strandjev;Stranjdev
Belarusian SU 1 "abacaba";Kolesov;Hrytskevich;Nekrashevich
Taurida NU Phantom Menace;Dergachev;Ismahilov;Lyashko
Moscow IPT Ababahalamaha;Babanin;Dmitriev;Ostanin
BelarusianSU5;Nalivaiko;Satanevski;Ivanin
Moscow SU 04;Permin;Vorob'yov;Pak
Moscow IPT Buton;Bagan;Kian;Savinov
MSU Tashkent #1;Bistrigova;Sitdikov
SPb NRU ITMO 3;Podtelkin;Rubanenko;Zban
SCH_SPb DP;Lapshin;Liferenko;Smirnov
Odessa NU ONU_Antananarivu;A. Kats;S. Kats;Romanova
Petrozavodsk SU 1;Filyov;Ioffe;Shapovalov
Ural FU 2;Borozdin;Kuchumov;Kungurtsev
Moscow IPT The Moon;Kuzmichev;Ryabov;Surin
Moscow SU Nrise;Adimov;Agulenko;Shapovalov
Novosibirsk SU;Gatilov